/* vars */
$dark-blue: #213561;
$light-blue: #97cdef;
$blue: #52a8e6;
$gray: #999;
$dark-gray: #d6d6d6;
$light-gray: #f4f4f4;

$railway: "Raleway", sans-serif;
$small-font: 16px;
$med-font: 1.27em;
$big-font: 1.6em;
$extra-big-font: 1.93em;

$page-padding: 40px;
$big-padding: 30px;
$small-padding: 15px;

/* mixins */
@mixin space_items_vert($size) {
  > :not(:last-child) {
    margin-bottom: $size;
  }
}

/* unstyling */
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

p {
  margin: 0;
}

/* style */
div {
  font-size: $small-font;
}

.container {
  display: grid;
  grid-template-rows: min-content min-content min-content min-content min-content min-content min-content min-content min-content;
  grid-row-gap: $page-padding;
  padding: $page-padding 20% $page-padding 20%;
  font-family: "Open Sans", sans-serif;

  /* download icon */
  a[download] {
    button {
      padding: 0;
      cursor: pointer;
      white-space: normal;
    }
    &[href=""] {
      pointer-events: none;
      button > div > :first-of-type {
        grid-row-end: span 2;
        align-self: center;
        font-style: normal !important;
        font-size: $small-font !important;
        font-family: "Open Sans", sans-serif !important;
        color: $gray !important;
      }
    }
  }

  /* card-footer icon */
  .download-icon {
    grid-row-end: span 2;
    height: 60px;
    width: auto;
    align-self: center;
  }

  & > * {
    /* images */
    &:first-child {
      justify-self: center;
      width: 300px;
    }

    /* opening paragraph */
    &:nth-child(2) {
      justify-self: center;
      text-align: center;
      padding-right: 20%;
      padding-left: 20%;
      font-family: "Raleway", sans-serif;
      font-size: $med-font;
      line-height: 1.8em;
    }

    /* divider */
    &:nth-child(3) {
      background-color: $light-blue;
      width: 100%;
      height: 10px;
    }

    &.header {
      color: $blue;
      font-size: $extra-big-font;
      font-weight: 600;
      font-family: "Raleway", sans-serif;
    }

    &.card {
      display: grid;
      grid-template-columns: 40% 60%;
      border: 1px solid $dark-gray;
      box-shadow: 5px 5px 15px 0 #b3b3b3;

      /* card link */
      .link {
        color: $blue;
        font-size: $small-font;
        margin-bottom: $big-padding;
      }

      /* dev styles */
      .dev {
        color: $gray;
        > div:first-child {
          margin-bottom: 2px;
        }
        button.main {
          background-image: none;
          background-color: $gray;
          pointer-events: none;
        }
      }

      // float down
      .bottom {
        margin-top: auto;
      }

      /* go to site button */
      button.main {
        font-size: $med-font;
        font-family: "Open Sans", sans-serif;
        color: white;
        background-image: linear-gradient(#365194, #253b6c);
        padding: 10px 40px;
        border-radius: 5px;
        border: none;
        white-space: nowrap;
      }

      & > * {
        padding: $big-padding;

        &:first-child {
          display: grid;
          grid-template-rows: min-content min-content min-content auto;
          // grid-row-gap: $small-padding;
          background-color: $light-gray;

          & > * {
            /* card title */
            &:first-child {
              color: $dark-blue;
              font-size: $big-font;
              font-weight: 600;
              margin-bottom: 5px;
              font-family: "Raleway", sans-serif;
            }

            /* card img */
            &:last-child {
              padding: 10px;
              border: 1px solid lightgray;
              background-color: white;
              & > :first-child {
                width: 100%;
              }
            }
          }
        }
        &:last-child {
          display: flex;
          flex-flow: column;
          @include space_items_vert($small-padding);

          & > * {
            /* card paragraph */
            &:first-child {
            }

            /* card citation */
            &:nth-child(2) {
              color: gray;
              font-style: italic;
            }

            /* card download */
            &:last-child {
              // width: min-content;

              & > :first-child {
                /* button */
                background-color: none;
                border: none;

                & > :first-child {
                  display: grid;
                  grid-template-columns: auto auto;
                  grid-template-rows: min-content min-content;
                  grid-column-gap: $small-padding;
                  grid-row-gap: 5px;
                  justify-items: start;

                  & > * {
                    /* card-footer top text */
                    &:nth-child(2) {
                      font-size: $med-font;
                      white-space: nowrap;
                      font-family: "Raleway", sans-serif;
                      align-self: flex-end;
                      // margin-top: 10px;

                      img {
                        margin-left: 5px;
                        height: 18px;
                      }
                    }
                    /* card-footer bottom text */
                    &:last-child {
                      color: gray;
                      font-family: "Raleway", sans-serif;
                      font-size: 0.9em;
                      align-self: flex-start;
                      text-align: left;
                      // font-style: italic;
                      // margin-bottom: 10px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    &.card-final {
      display: grid;
      grid-template-columns: 40% 60%;
      border: 1px solid $dark-gray;
      box-shadow: 5px 5px 15px 0 #b3b3b3;

      & > * {
        padding: $big-padding;
        background-color: $light-gray;

        &:first-child {
          display: grid;
          grid-template-rows: min-content min-content auto;
          grid-row-gap: $small-padding;

          & > * {
            /* card title */
            &:first-child {
              font-family: "Raleway", sans-serif;
              color: $dark-blue;
              font-size: $big-font;
              font-weight: 600;
            }

            /* card img */
            &:nth-child(2) {
              background-color: white;
              border: 1px solid lightgray;
              padding: 5px;
              & > :first-child {
                width: 100%;
              }
            }
          }
        }
        &:last-child {
          display: grid;
          grid-template-rows: min-content min-content min-content;
          grid-row-gap: $small-padding;

          & > * {
            &:not(:first-child) {
              padding-top: $big-padding;
            }
            &:not(:last-child) {
              padding-bottom: $big-padding;
            }
          }

          & > * {
            padding-bottom: $small-padding;
            border-bottom: 1px solid gray;

            &:last-child {
              border: none;
            }

            & > * {
              /* card title */
              &:first-child {
                max-width: 500px; // hack to prevent widows; todo elegantly
                color: $dark-blue;
                font-size: $med-font;
                margin-bottom: 5px;
                font-family: "Raleway", sans-serif;
                font-weight: normal;
              }

              /* card paragraph */
              &:nth-child(2) {
                margin-bottom: 20px;
              }

              /* card download */
              &:last-child {
                width: min-content;

                & > :first-child {
                  /* button */
                  background-color: $light-gray;
                  border: none;

                  & > :first-child {
                    display: grid;
                    grid-template-columns: auto auto;
                    grid-template-rows: min-content min-content;
                    grid-column-gap: $small-padding;
                    grid-row-gap: 5px;
                    justify-items: start;

                    & > * {
                      // /* card-footer icon */
                      // &:first-child {
                      //   grid-row-end: span 2;
                      //   height: 100%;
                      //   width: auto;
                      // }
                      /* card-footer top text */
                      &:nth-child(2) {
                        font-size: $med-font;
                        white-space: nowrap;
                        font-family: "Raleway", sans-serif;
                        margin-top: 10px;

                        img {
                          margin-left: 5px;
                          height: 18px;
                        }
                      }
                      /* card-footer bottom text */
                      &:last-child {
                        white-space: nowrap;
                        color: gray;
                        font-family: "Raleway", sans-serif;
                        font-style: italic;
                        margin-bottom: 10px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    &:nth-last-child(2) {
      margin-top: 20px;

      & > * {
        margin-bottom: 5px;
        &:first-child {
          color: $dark-blue;
          font-size: $big-font;
          font-family: "Raleway", serif;
          font-style: italic;
          font-weight: 500;
        }
        &:nth-child(3) {
          font-style: italic;
          margin-right: 10%;
          margin-left: 10%;
        }
      }
    }

    &:last-child {
      width: 400px;
      justify-self: end;
    }
  }
}
