/* unstyling */
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

div {
  line-height: 1em;
}

p {
  margin: 0;
}

/* vars */
$dark-blue: #213660;
$light-blue: #52a8e6;
$dark-grey: grey;
$light-grey: #f4f4f4;

$railway: "Raleway", sans-serif;
$small-font: 12px;
$med-font: 18px;
$big-font: 25px;

$page-padding: 40px;
$big-padding: 30px;
$small-padding: 20px;

/* style */
.container {
  display: grid;
  grid-template-rows: min-content min-content min-content min-content min-content min-content min-content;
  grid-row-gap: $page-padding;
  padding: $page-padding 20% $page-padding 20%;
  font-family: "Open Sans", sans-serif;

  & > * {
    /* images */
    &:first-child {
      justify-self: center;
      width: 300px;
    }

    /* opening paragraph */
    &:nth-child(2) {
      justify-self: center;
      text-align: center;
      padding-right: 20%;
      padding-left: 20%;
      font-family: "Raleway", sans-serif;
    }

    /* divider */
    &:nth-child(3) {
      background-color: $light-blue;
      width: 100%;
      height: 10px;
    }

    &:nth-child(4) {
      color: $light-blue;
      font-size: $big-font;
      font-weight: bold;
      font-family: "Raleway", sans-serif;
    }

    &.card {
      display: grid;
      grid-template-columns: 40% 60%;
      border: 1px solid $dark-grey;
      box-shadow: 5px 5px 6px #ccc;

      & > * {
        padding: $big-padding;

        &:first-child {
          display: grid;
          grid-template-rows: min-content min-content min-content auto;
          // grid-row-gap: $small-padding;
          background-color: $light-grey;

          & > * {
            /* card title */
            &:first-child {
              color: $dark-blue;
              font-size: $big-font;
              font-weight: bold;
              margin-bottom: 5px;
              font-family: "Raleway", sans-serif;
            }

            /* card link */
            &:nth-child(2) {
              color: $light-blue;
              font-size: $small-font;
              margin-bottom: $small-padding;
            }

            /* card img */
            &:last-child {
              padding: 10px;
              border: 1px solid lightgrey;
              background-color: white;
              & > :first-child {
                width: 100%;
              }
            }
          }
        }
        &:last-child {
          display: grid;
          grid-template-rows: min-content min-content min-content auto min-content;
          grid-row-gap: $small-padding;

          & > * {
            /* card paragraph */
            &:first-child {
            }

            /* card citation */
            &:nth-child(2) {
              color: $dark-grey;
              font-style: italic;
            }

            /* card "go to site" button */
            &:nth-child(3) {
              width: min-content;
              font-size: $med-font;
              color: white;
              background-image: linear-gradient(#365194, #253b6c);
              padding: 10px 20px 10px 20px;
              border-radius: 3px;
              border: none;
              white-space: nowrap;
            }

            /* card download */
            &:last-child {
              /* button */
              background-color: none;
              border: none;
              width: min-content;

              & > :first-child {
                display: grid;
                grid-template-columns: auto auto;
                grid-template-rows: min-content min-content;
                grid-column-gap: $small-padding;
                grid-row-gap: 5px;
                justify-items: start;

                & > * {
                  /* card-footer icon */
                  &:first-child {
                    grid-row-end: span 2;
                    height: 100%;
                    width: auto;
                  }
                  /* card-footer top text */
                  &:nth-child(2) {
                    font-size: $med-font;
                    white-space: nowrap;
                    font-family: "Raleway", sans-serif;
                    margin-top: 10px;

                    img {
                      margin-left: 5px;
                      height: 18px;
                    }
                  }
                  /* card-footer bottom text */
                  &:last-child {
                    white-space: nowrap;
                    color: grey;
                    font-family: "Raleway", sans-serif;
                    font-style: italic;
                    margin-bottom: 10px;
                  }
                }
              }
            }
          }
        }
      }
    }

    &.card-final {
      display: grid;
      grid-template-columns: 40% 60%;
      border: 1px solid $dark-grey;
      box-shadow: 5px 5px 6px #ccc;

      & > * {
        padding: $small-padding;
        background-color: $light-grey;

        &:first-child {
          display: grid;
          grid-template-rows: min-content min-content auto;
          grid-row-gap: $small-padding;

          & > * {
            /* card title */
            &:first-child {
              color: $dark-blue;
              font-size: $big-font;
              font-weight: bold;
            }

            /* card img */
            &:nth-child(2) {
              background-color: white;
              border: 1px solid lightgrey;
              padding: 5px;
              & > :first-child {
                width: 100%;
              }
            }
          }
        }
        &:last-child {
          display: grid;
          grid-template-rows: min-content min-content min-content;
          grid-row-gap: $small-padding;

          & > * {
            padding-bottom: $small-padding;
            border-bottom: 1px solid grey;

            &:last-child {
              border: none;
            }

            & > * {
              /* card title */
              &:first-child {
                color: $dark-blue;
                font-size: $med-font;
                margin-bottom: 10px;
              }

              /* card paragraph */
              &:nth-child(2) {
                margin-bottom: 20px;
              }

              /* card download */
              &:last-child {
                /* button */
                background-color: $light-grey;
                border: none;
                width: min-content;

                & > :first-child {
                  display: grid;
                  grid-template-columns: auto auto;
                  grid-template-rows: min-content min-content;
                  grid-column-gap: $small-padding;
                  grid-row-gap: 5px;
                  justify-items: start;

                  & > * {
                    /* card-footer icon */
                    &:first-child {
                      grid-row-end: span 2;
                      height: 100%;
                      width: auto;
                    }
                    /* card-footer top text */
                    &:nth-child(2) {
                      font-size: $med-font;
                      white-space: nowrap;
                      font-family: "Raleway", sans-serif;
                      margin-top: 10px;

                      img {
                        margin-left: 5px;
                        height: 18px;
                      }
                    }
                    /* card-footer bottom text */
                    &:last-child {
                      white-space: nowrap;
                      color: grey;
                      font-family: "Raleway", sans-serif;
                      font-style: italic;
                      margin-bottom: 10px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
