/* vars */
$dark-blue: #213561;
$light-blue: #97cdef;
$blue: #52a8e6;
$gray: #999;
$dark-gray: #d6d6d6;
$light-gray: #f4f4f4;

$railway: "Raleway", sans-serif;
$small-font: 16px;
$med-font: 1.27em;
$big-font: 1.6em;
$extra-big-font: 1.93em;

$page-padding: 40px;
$big-padding: 30px;
$small-padding: 15px;

// responsiveness
$phone: "screen and (max-width : 812px)";
$phone-narrow: "screen and (max-width : 500px)";
@media #{$phone} {
  .container .card-final {
    grid-template-columns: unset !important;
  }
  .container .card-final div:nth-child(2) {
    padding-top: 0;
  }
}
@media #{$phone-narrow} {
  .container > *.card {
    grid-template-columns: unset !important;
  }
  a.link + div {
    width: 90%;
    margin: 0 auto;
  }
  .container {
    padding: $page-padding 5px !important;
  }
  .cc-window.cc-floating {
    max-width: unset !important;
  }
  .cc-bottom {
    bottom: 0 !important;
  }
  .cc-right {
    right: unset !important;
  }
  .footer {
    .content {
      a:first-child {
        img {
          padding-left: 0;
        }
      }
    }
  }
}

/* mixins */
@mixin space_items_vert($size) {
  > :not(:last-child) {
    margin-bottom: $size;
  }
}

/* unstyling */
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

p {
  margin: 0;
}

/* style */
div {
  font-size: $small-font;
}

.cc-revoke {
  display: none !important;
}

/* go to site button */
button.main,
.cc-compliance a:not(:first-child) {
  font-size: $med-font;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  color: white;
  background-image: linear-gradient(#365194, #253b6c);
  padding: 10px 40px;
  border-radius: 5px;
  border: none;
  white-space: nowrap;
  cursor: pointer;
  border: 2px solid transparent;
  outline: none;

  &:hover {
    background-image: none;
    background-color: white !important;
    color: $dark-blue;
    border: 2px solid $dark-blue;
  }

  &:active {
    box-shadow: 5px 5px 15px 0 #b3b3b3;
    -webkit-box-shadow: 5px 5px 15px 0 #b3b3b3;
    background-color: $light-gray;
  }
}

.container {
  display: grid;
  grid-template-rows: min-content min-content min-content min-content min-content min-content min-content min-content min-content;
  grid-row-gap: $page-padding;
  max-width: 1200px;
  margin: 0 auto;
  padding: $page-padding 10px;
  font-family: "Open Sans", sans-serif;

  /* Key citations */
  .citation {
    color: gray;
    font-style: italic;
    margin-bottom: 20px;
  }

  /* citation at end of doc */
  .textblock {
    p {
      margin-bottom: 20px;
    }
  }

  /* download icon */
  a[download] {
    button {
      padding: 0;
      cursor: pointer;
      white-space: normal;
    }
    &[href=""] {
      pointer-events: none;
      button > div > :first-of-type {
        grid-row-end: span 2;
        align-self: center;
        font-style: italic !important;
        font-size: $small-font !important;
        font-family: "Open Sans", sans-serif !important;
        color: $gray !important;
      }
    }
  }

  .subheader {
    font-weight: normal;
    font-family: "Raleway", sans-serif;
    margin-bottom: 30px;
    color: $dark-blue;
    + a.link {
      margin: 0;
      margin-bottom: 10px;
    }
  }

  /* card-footer icon */
  .download-icon {
    grid-row-end: span 2;
    height: 60px;
    width: auto;
    align-self: center;
  }

  & > * {
    /* images */
    &:first-child {
      justify-self: center;
      width: 300px;
    }

    /* opening paragraph */
    &:nth-child(2) {
      justify-self: center;
      text-align: center;
      padding: 0 15%;
      font-family: "Raleway", sans-serif;
      font-size: $med-font;
      line-height: 1.8em;
    }

    /* divider */
    &:nth-child(3) {
      background-color: $light-blue;
      width: 100%;
      height: 10px;
    }

    &.header {
      color: $blue;
      font-size: $extra-big-font;
      font-weight: 600;
      font-family: "Raleway", sans-serif;
    }

    &.card {
      display: grid;
      grid-template-columns: 40% 60%;
      border: 1px solid $dark-gray;
      box-shadow: 5px 5px 15px 0 #b3b3b3;

      /* card link */
      .link {
        color: $blue;
        font-size: $small-font;
        margin-bottom: $big-padding;
        word-break: break-all;
      }

      /* dev styles */
      .dev {
        color: $gray;
        > div:first-child {
          margin-bottom: 2px;
        }
        button.main {
          background-image: none;
          background-color: $gray;
          pointer-events: none;
        }
      }

      // float down
      .bottom {
        margin-top: auto;
      }

      & > * {
        padding: $big-padding;

        &:first-child {
          display: grid;
          grid-template-rows: min-content min-content min-content auto;
          // grid-row-gap: $small-padding;
          background-color: $light-gray;

          & > * {
            /* card title */
            &:first-child {
              color: $dark-blue;
              font-size: $big-font;
              font-weight: 600;
              margin-bottom: 5px;
              font-family: "Raleway", sans-serif;
            }

            /* card img */
            &:last-child {
              padding: 10px;
              border: 1px solid lightgray;
              background-color: white;
              & > :first-child {
                width: 100%;
              }
            }
          }
        }
        &:last-child {
          display: flex;
          flex-flow: column;
          @include space_items_vert($small-padding);

          & > * {
            /* card paragraph */
            &:first-child {
            }

            /* card citation */
            &:nth-child(2) {
              color: gray;
              font-style: italic;
            }

            /* card download */
            &:last-child {
              // width: min-content;

              & > :first-child:not(.main) {
                /* button */
                background-color: none;
                border: none;

                & > :first-child {
                  display: grid;
                  grid-template-columns: auto auto;
                  grid-template-rows: min-content min-content;
                  grid-column-gap: $small-padding;
                  grid-row-gap: 5px;
                  justify-items: start;
                  background-color: white;

                  &:hover {
                    color: $blue;
                  }

                  & > * {
                    /* card-footer top text */
                    &:nth-child(2) {
                      font-size: $med-font;
                      white-space: nowrap;
                      font-family: "Raleway", sans-serif;
                      align-self: flex-end;
                      // margin-top: 10px;

                      img {
                        margin-left: 5px;
                        height: 18px;
                      }
                    }
                    /* card-footer bottom text */
                    &:last-child {
                      color: gray;
                      font-family: "Raleway", sans-serif;
                      font-size: 0.9em;
                      align-self: flex-start;
                      text-align: left;
                      // font-style: italic;
                      // margin-bottom: 10px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    &.card-final {
      display: grid;
      grid-template-columns: 40% 60%;
      border: 1px solid $dark-gray;
      box-shadow: 5px 5px 15px 0 #b3b3b3;

      & > * {
        padding: $big-padding;
        background-color: $light-gray;

        &:first-child {
          display: grid;
          grid-template-rows: min-content min-content auto;
          grid-row-gap: $small-padding;

          & > * {
            /* card title */
            &:first-child {
              font-family: "Raleway", sans-serif;
              color: $dark-blue;
              font-size: $big-font;
              font-weight: 600;
            }

            /* card img */
            &:nth-child(2) {
              background-color: white;
              border: 1px solid lightgray;
              padding: 5px;
              & > :first-child {
                width: 100%;
              }
            }
          }
        }
        &:last-child {
          display: grid;
          grid-template-rows: min-content min-content min-content;
          grid-row-gap: $small-padding;

          & > * {
            &:not(:first-child) {
              padding-top: $big-padding;
            }
            &:not(:last-child) {
              padding-bottom: $big-padding;
            }
          }

          & > * {
            padding-bottom: $small-padding;
            border-bottom: 1px solid gray;

            &:last-child {
              border: none;
            }

            & > * {
              /* card title */
              &:first-child {
                max-width: 500px; // hack to prevent widows; todo elegantly
                color: $dark-blue;
                font-size: $med-font;
                margin-bottom: 5px;
                font-family: "Raleway", sans-serif;
                font-weight: normal;
              }

              /* card paragraph */
              &:nth-child(2) {
                margin-bottom: 20px;
              }

              /* card download */
              &:last-child {
                width: min-content;

                & > :first-child {
                  /* button */
                  background-color: $light-gray;
                  border: none;

                  & > :first-child {
                    display: grid;
                    grid-template-columns: auto auto;
                    grid-template-rows: min-content min-content;
                    grid-column-gap: $small-padding;
                    grid-row-gap: 5px;
                    justify-items: start;

                    & > * {
                      // /* card-footer icon */
                      // &:first-child {
                      //   grid-row-end: span 2;
                      //   height: 100%;
                      //   width: auto;
                      // }
                      /* card-footer top text */
                      &:nth-child(2) {
                        font-size: $med-font;
                        // white-space: nowrap;
                        text-align: left;
                        font-family: "Raleway", sans-serif;
                        margin-top: 10px;

                        img {
                          margin-left: 5px;
                          height: 18px;
                        }
                      }
                      /* card-footer bottom text */
                      &:last-child {
                        // white-space: nowrap;
                        text-align: left;
                        color: gray;
                        font-family: "Raleway", sans-serif;
                        font-style: italic;
                        margin-bottom: 10px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    &:nth-last-child(2) {
      margin-top: 20px;

      & > * {
        margin-bottom: 5px;
        &:first-child {
          color: $dark-blue;
          font-size: $big-font;
          font-family: "Raleway", serif;
          font-style: italic;
          font-weight: 500;
        }
        &:nth-child(3) {
          font-style: italic;
          margin-right: 10%;
          margin-left: 10%;
        }
      }
    }
  }
}

$button-width: 250px;
$button-font-size: 16px;
$spacing: 10px;

.footer {
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;

  $item-spacing: 30px;
  .content {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: flex-end;

    div:first-child {
      font-style: italic;
      font-family: "Open Sans", sans-serif;
      color: #999999;
      font-size: 16px;
    }

    img {
      height: 70px;
      padding: 0 $item-spacing;
    }

    a:first-child:not(:last-child) img {
      border-right: 1px solid $gray;
    }
    a:last-child img {
      padding-right: 0;
    }
    a {
      position: relative;
      > div {
        position: absolute;
        top: -15px;
        left: $item-spacing;
        font-size: 0.8em;
        pointer-events: none;
        color: #333;
      }
    }
  }
}

.cc-message,
.cc-message * {
  font-family: "Open Sans", sans-serif;
}
